{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div style="background-color: #4CAF50; color: white; padding: 20px; text-align: center;">
    <h1>Welcome to Hostel Solns</h1>
    <p style="font-size: 18px;">Hostel Details in your finger tips</p>
</div>

<div style="max-width: 800px; margin: 30px auto; padding: 20px; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">

    <h2>About Us</h2>
    <p>
        Hostel Solns is a user-friendly platform that simplifies and automates various hostel operations.
        Our system allows you to manage student details, room allocation, grievances, and much more.
        With an easy-to-use interface, hostel staff can efficiently handle day-to-day tasks and ensure smooth hostel management.
    </p>

    <h2>Features</h2>
    <ul style="text-align: left;">
        <li>Student Details Management</li>
        <li>Room Detail Managmnet</li>
        <li>Grievance Handling</li>
    </ul>

    <h2>Contact Us</h2>
    <p>
        For any inquiries or support, please contact us at:
        <br>
        Email: contact@hostelsolns.com
        <br>
        Phone: +91 456-7890
    </p>

</div>
   
{% endblock body %}