<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Hostel Solns</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active px-5" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5" href="#">About</a>
        </li>
        {%if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link active px-5" href="logout">Employee logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link active px-5" href="login">Employee login</a>
        </li>
        {%endif%}
        <li class="nav-item">
          <a class="nav-link active px-5" href="submitgrievence">Student Grievence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-5" href="loggedin">Get data</a>
        </li>
      </ul>
    </div>
  </div>
</nav>